extends layout

block content
  h1 Welcome to your home

  script.
      //Redirects user to authorize page so they can log-in to instagram 
      //Will eventually redirect to /basicuser
      var loginRedirect = function(){
        window.location.href = "/authorize_user";
      }

  button(onclick='loginRedirect()')#instaButton Login Instagram



        
        
