extends layout

block content
  h1.
   Welcome to #{title}
  #wrapper 
    #userList
      table
        thead
          th Picture
          th Username
          th Price
          th Contact
          th Target Audience
          th Delete?
        tbody

    h2 Add User
    #addUser
      fieldset
        input#inputInstaID(type='text', placeholder='Insta-ID')
        br
        input#inputUserPrice(type='text', placeholder='Price')
        br
        button#btnAddUser Add User 
        br
        button#instaButton Login Instagram
  
