extends layout

block content
  h1 Welcome to #{userName}'s user page

  img(src = "#{imgURL}")

  script.
      //Redirects user to authorize page so they can log-in to instagram 
      //Will eventually redirect to /basicuser
      var indexRedirect = function(){
        window.location.href = "http://localhost:3000/";
      }

  button(onclick='indexRedirect()')#indexRedirectButton Go to index



        
        
